.half .bg{
    background-size: cover;
    background-position: center;
    height:200px;
    width: 100%;
}

.half .contents .half .bg {
    width: 100%;
}

.half .contents {
    background-color:  #D8CED0;
}

.half, .half .container>.row{
    height: 30vh;
    min-width: 700px;
}

.form-block{
    background:  rgb(255, 255, 255);
    padding: 40px;
    margin-top: -100px;
}

.text-center{
    text-align: center !important;
}

.mb-5, .my-5{
    margin-bottom:3rem !important
}

.form{
    display: block;
    margin-top: 0em;
}

.username-field{
    margin-bottom: 1rem;
}

.label{
    display: inline-block;
    margin-bottom: .5rem;
}



.form-control{
    border:none;
    border-radius: 4px;
    height: 54px;
    background:#f0e8ea;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    margin-top: 10px;


}

.btn {
  
    background-color: #f0e8ea;
    color: black;
   

}

.username-text{
    padding-left: 10px;
   
}


.card {
    flex-direction: row;
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
    justify-content: center;

  
  }
  .card img {
    width: 30%;
  }
  
.image-book{
    width: 200px; 
    height: 200px; 
    padding: 10px;
  }



.card-description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}




.button-56 {
  align-items: center;
  background-color: #D8CED0;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(232, 216, 216);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
}